body{
    background-image: url('pancakes.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#box{
border:2px solid black;
height:300px;
width:400px;
text-align:center;
margin:auto;
margin-top:90px;
background-color:aliceblue;
}
.input{
    padding:11px;
    margin:2px;
    width:278px;
    border-radius:300px solid black;
}
#btn{
    padding:9px;
    width:200px;
    margin:11px;
    font-size:19px;
    border-radius:40px;
    /* background-color: orangered; */
}
#box h1{
    font-size:31px;
}